{% extends 'django_registration/base.html' %}
{% load bootstrap4 %}

{% block title %}Registration Complete{% endblock %}

{% block content %}
    <div class="jumbotron" style="background-color: black;">
        <h1 class="text-center" style="color: white; font-family: 'Tenali Ramakrishna', sans-serif;">Registration Complete</h1>
    </div>
    <div class="container" style="font-family: 'Tenali Ramakrishna', sans-serif;">
        <h3 class="text-center">You are all set!</h3>
        <a href="/accounts/login/">Sign In</a>
    </div>
{% endblock %}